@CHARSET "ISO-8859-1";

#nav  ul {
	list-style:none;
	padding:0;
	height:34px;
	float:left;
}
#nav ul li {
	margin:0;
	padding:0 1px 0 0;
	float:left;
}

#nav ul li a {
	font-family: "Arial";
	display:block;
	margin:0;
	padding:17px 0;
	width:179px;
	font-size:12px;
	line-height:6px;
	font-weight:normal;
	color:#2E368F;
	text-decoration:none;
	text-align:center;
	text-transform:uppercase;
	background:#ededed;
	
}


#nav ul li.active a, #nav ul li a:hover{
	text-decoration:none;
	color:#fff;
	background:#2E368F;
}
